__pycache__/
*.pyc
*.pyo
*.swp
.Rhistory
.RData
.Rproj.user/
.DS_Store

data/exp/*
!data/exp/.gitkeep
data/out/*
!data/out/.gitkeep
data/Org/*
!data/Org/.gitkeep
data/standardized/*
!data/standardized/.gitkeep
data/reference/*
!data/reference/.gitkeep

results/*
!results/.gitkeep
logs/*
!logs/.gitkeep

*.log
*.frq.gz
*.nosex
*.clumped
*.tmp
